@import 'styles.css';

.boite {
    display: none;
}

@media screen and (min-width: 768px) {

    .image {
        grid-column: 1 / 7;
        grid-row: 3 / 4;
    }

    p:nth-child(4) {
        grid-column: 1 / 12;
        grid-row: 2 / 3;
    }
    
    p:nth-child(5) {
        grid-column: 7 / 13;
        grid-row: 3 / 4;
    }

    .boite {
        background-color: #fba201;
        display: block;
        grid-column: 12 / 13;
        grid-row: 2 / 3; 
    }
}